<!DOCTYPE html>
<html lang="en">
<head style="background-color:white;">
    <meta charset="utf-8">
    <title>Golang Doc. File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:powderblue;">
<div class="container">
    <h1>
        <strong class="text-primary">Golang Doc</strong>
        <span class="text-primary">V0.01 Rev A</span>
    </h1>
    <span id="datetime" class="text-muted"></span>
    <script>
        let dt = new Date();
        document.getElementById("datetime").innerHTML = (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2)) + ":" + (("0" + dt.getSeconds()).slice(-2)) + " " + (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear());
    </script>
    Insert_here_0
    <div class="card-body" style="background-color: aqua">
        <h2>
            Insert_here_1
        </h2>
    </div>
    <div class="card-body" style="background-color: aqua">
        <h2>
            Insert_here_2
        </h2>
    </div>
</div>
</body>

</html>
