<div class="container">
    <h2>
        <span>Imports list:</span>
    </h2>
        Insert_here_0
    <div class="card mb-1">
        <div class="card-header">
            <code>
                Insert_here_1
            </code>
        </div>
        <div class="card-body text-dark">
            <div class="card-text">
                <span>Go import. Information: </span>
                <br />
                Insert_here_2
            </div>
        </div>
        Insert_here_3
    </div>
</div>